<ion-header>
  <ion-toolbar>
    <ion-title>
      Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="todoForm" (ngSubmit)="addNote()">
      <ion-item>
        <ion-label>Título</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-button shape="round" color="primary" fill="solid" type="submit" [disabled]="!this.todoForm.valid">Agregar</ion-button>
    </form>
</ion-content>
